@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    617 S Park Rd<br />
    Lombard, IL 60148<br />
    <abbr title="Phone">P:</abbr>
    630-776-9302
</address>

<address>
    <strong>Email:</strong> <a href="mailto:uzairfaraz20@gmail.com">uzairfaraz20@gmail.com</a><br />
    <strong>Github:</strong> <a href="https://github.com/Uzairfaraz20">https://github.com/Uzairfaraz20</a>
</address>
